In [33]:
import yfinance as yf
import pandas as pd

In [12]:
response = yf.screen('day_gainers')

In [26]:
symbols,names,current_price,price_change,percent_change = [], [],[],[],[]
for data in response['quotes']:
    symbols.append(data['symbol'])
    names.append(data['longName'])
    current_price.append(data['regularMarketPrice'])
    price_change.append(data['regularMarketChange'])
    percent_change.append(data['regularMarketChangePercent'])

In [34]:
def generate_data(d):
    response = yf.screen(d)
    symbols,names,current_price,price_change,percent_change = [], [],[],[],[]
    for data in response['quotes']:
        symbols.append(data['symbol'])
        names.append(data['longName'])
        current_price.append(data['regularMarketPrice'])
        price_change.append(data['regularMarketChange'])
        percent_change.append(data['regularMarketChangePercent'])
    data_dict = {"symbol":symbols,
                 "name":names,
                 "current_price":current_price,
                 "price_change":price_change,
                 "percent_change":percent_change}
    return pd.DataFrame(data_dict)

In [ ]:
top_100 = generate_data('day_gainers')
most_active = generate_data('most_actives')
trend = generate_data('aggressive_small_caps')

In [44]:
if not "list_type" in top_100.columns:
    top_100["list_type"] = ["top_100" for i in range(len(top_100['symbol'].to_list()))]
top_100.head()

,symbol,name,current_price,price_change,percent_change,list_type
0,OKLO,Oklo Inc.,68.03,15.49,29.4823,top_100
1,QUBT,Quantum Computing Inc.,18.97,3.84,25.3800,top_100
2,SMR,NuScale Power Corporation,41.60,7.05,20.4052,top_100
3,RGTI,"Rigetti Computing, Inc.",12.52,1.28,11.3879,top_100
4,FLR,Fluor Corporation,49.79,4.92,10.9650,top_100

In [45]:
if not "list_type" in most_active.columns:
    most_active["list_type"] = ["most_active" for i in range(len(most_active['symbol'].to_list()))]
most_active.head()

,symbol,name,current_price,price_change,percent_change,list_type
0,RGTI,"Rigetti Computing, Inc.",12.52,1.280000,11.387900,most_active
1,NVDA,NVIDIA Corporation,142.83,-1.120000,-0.778045,most_active
2,INTC,Intel Corporation,20.68,-1.428000,-6.459200,most_active
3,QUBT,Quantum Computing Inc.,18.97,3.840000,25.380000,most_active
4,TSLA,"Tesla, Inc.",326.43,0.339996,0.104265,most_active

In [49]:
if not "list_type" in trend.columns:
    trend["list_type"] = ["trending" for i in range(len(trend['symbol'].to_list()))]
trend.head()

,symbol,name,current_price,price_change,percent_change,list_type
0,ATUS,"Altice USA, Inc.",2.210,-0.010,-0.450450,trending
1,JBLU,JetBlue Airways Corporation,4.860,-0.180,-3.571430,trending
2,KOS,Kosmos Energy Ltd.,2.130,0.130,6.500010,trending
3,DOLE,Dole plc,13.810,0.090,0.655978,trending
4,AVIR,"Atea Pharmaceuticals, Inc.",3.175,-0.045,-1.397520,trending

In [50]:
full_df_lst = [top_100,most_active,trend]
full_df = pd.concat(full_df_lst)

In [52]:
full_df

,symbol,name,current_price,price_change,percent_change,list_type
0,OKLO,Oklo Inc.,68.0300,15.490000,29.482300,top_100
1,QUBT,Quantum Computing Inc.,18.9700,3.840000,25.380000,top_100
2,SMR,NuScale Power Corporation,41.6000,7.050000,20.405200,top_100
3,RGTI,"Rigetti Computing, Inc.",12.5200,1.280000,11.387900,top_100
4,FLR,Fluor Corporation,49.7900,4.920000,10.965000,top_100
...,...,...,...,...,...,...
20,SHO,"Sunstone Hotel Investors, Inc.",8.9000,-0.190001,-2.090210,trending
21,YQ,17 Education & Technology Group Inc.,2.0500,-0.064000,-3.027442,trending
22,STEM,"Stem, Inc.",0.6043,-0.027800,-4.398030,trending
23,BKD,Brookdale Senior Living Inc.,6.9500,-0.150000,-2.112680,trending
24,CIM,Chimera Investment Corporation,13.8900,-0.019999,-0.143778,trending