In [1]:
import yfinance as yf
import pandas as pd

In [2]:
response = yf.screen('day_gainers')

In [3]:
symbols,names,current_price,price_change,percent_change = [], [],[],[],[]
for data in response['quotes']:
    symbols.append(data['symbol'])
    names.append(data['longName'])
    current_price.append(data['regularMarketPrice'])
    price_change.append(data['regularMarketChange'])
    percent_change.append(data['regularMarketChangePercent'])

In [4]:
def generate_data(d):
    response = yf.screen(d)
    symbols,names,current_price,price_change,percent_change = [], [],[],[],[]
    for data in response['quotes']:
        symbols.append(data['symbol'])
        names.append(data['longName'])
        current_price.append(data['regularMarketPrice'])
        price_change.append(data['regularMarketChange'])
        percent_change.append(data['regularMarketChangePercent'])
    data_dict = {"symbol":symbols,
                 "name":names,
                 "current_price":current_price,
                 "price_change":price_change,
                 "percent_change":percent_change}
    return pd.DataFrame(data_dict)

In [5]:
top_100 = generate_data('day_gainers')
most_active = generate_data('most_actives')
trend = generate_data('aggressive_small_caps')

In [6]:
if not "list_type" in top_100.columns:
    top_100["list_type"] = ["top_100" for i in range(len(top_100['symbol'].to_list()))]
top_100.head()

,symbol,name,current_price,price_change,percent_change,list_type
0,ORCL,Oracle Corporation,200.630,24.250000,13.748724,top_100
1,ATAT,Atour Lifestyle Holdings Limited,32.915,1.955002,6.314606,top_100
2,TAC,TransAlta Corporation,11.120,0.650000,6.208210,top_100
3,LEGN,Legend Biotech Corporation,38.705,2.115002,5.784224,top_100
4,AU,AngloGold Ashanti plc,48.558,2.688000,5.862340,top_100

In [7]:
if not "list_type" in most_active.columns:
    most_active["list_type"] = ["most_active" for i in range(len(most_active['symbol'].to_list()))]
most_active.head()

,symbol,name,current_price,price_change,percent_change,list_type
0,NVDA,NVIDIA Corporation,144.4100,1.580002,1.106211,most_active
1,GME,GameStop Corp.,22.5711,-5.978899,-20.941853,most_active
2,RGTI,"Rigetti Computing, Inc.",12.7641,0.244100,1.949677,most_active
3,SOFI,"SoFi Technologies, Inc.",14.9250,-0.135000,-0.896416,most_active
4,TSLA,"Tesla, Inc.",325.5700,-0.833008,-0.255208,most_active

In [8]:
if not "list_type" in trend.columns:
    trend["list_type"] = ["trending" for i in range(len(trend['symbol'].to_list()))]
trend.head()

,symbol,name,current_price,price_change,percent_change,list_type
0,ATUS,"Altice USA, Inc.",2.155,-0.055,-2.488691,trending
1,JBLU,JetBlue Airways Corporation,4.785,-0.075,-1.544805,trending
2,KOS,Kosmos Energy Ltd.,2.110,-0.020,-0.941187,trending
3,DOLE,Dole plc,14.020,0.210,1.520637,trending
4,AVIR,"Atea Pharmaceuticals, Inc.",3.235,0.060,1.889762,trending

In [9]:
full_df_lst = [top_100,most_active,trend]
full_df = pd.concat(full_df_lst)

In [10]:
full_df

,symbol,name,current_price,price_change,percent_change,list_type
0,ORCL,Oracle Corporation,200.6300,24.250000,13.748724,top_100
1,ATAT,Atour Lifestyle Holdings Limited,32.9150,1.955002,6.314606,top_100
2,TAC,TransAlta Corporation,11.1200,0.650000,6.208210,top_100
3,LEGN,Legend Biotech Corporation,38.7050,2.115002,5.784224,top_100
4,AU,AngloGold Ashanti plc,48.5580,2.688000,5.862340,top_100
...,...,...,...,...,...,...
20,SHO,"Sunstone Hotel Investors, Inc.",8.8550,-0.045000,-0.505619,trending
21,YQ,17 Education & Technology Group Inc.,2.0500,0.000000,0.000000,trending
22,STEM,"Stem, Inc.",0.4963,-0.108000,-17.871920,trending
23,BKD,Brookdale Senior Living Inc.,7.0000,0.050000,0.719427,trending
24,CIM,Chimera Investment Corporation,14.0800,0.190000,1.367887,trending

In [ ]:
full_df.loc[full_df['list_type'] == "top_100"]

,symbol,name,current_price,price_change,percent_change,list_type
0,NVDA,NVIDIA Corporation,144.4100,1.580002,1.106211,most_active
1,GME,GameStop Corp.,22.5711,-5.978899,-20.941853,most_active
2,RGTI,"Rigetti Computing, Inc.",12.7641,0.244100,1.949677,most_active
3,SOFI,"SoFi Technologies, Inc.",14.9250,-0.135000,-0.896416,most_active
4,TSLA,"Tesla, Inc.",325.5700,-0.833008,-0.255208,most_active
5,QUBT,Quantum Computing Inc.,17.9050,-1.064999,-5.614121,most_active
6,LCID,"Lucid Group, Inc.",2.1500,-0.030000,-1.372996,most_active
7,F,Ford Motor Company,10.4900,-0.170000,-1.594000,most_active
8,ORCL,Oracle Corporation,200.6300,24.250000,13.748724,most_active
9,QBTS,D-Wave Quantum Inc.,15.9612,-0.568801,-3.440314,most_active
10,AAL,American Airlines Group Inc.,10.7450,-0.315001,-2.848106,most_active
11,INTC,Intel Corporation,20.5650,-0.115000,-0.556092,most_active
12,PLTR,Palantir Technologies Inc.,135.4500,-0.900009,-0.660073,most_active
13,BTG,B2Gold Corp.,3.6900,0.100000,2.777782,most_active
14,EQX,Equinox Gold Corp.,6.5452,-0.404800,-5.824460,most_active
15,WBD,"Warner Bros. Discovery, Inc.",10.5750,0.065000,0.618455,most_active
16,APLD,Applied Digital Corporation,12.1400,0.090000,0.746889,most_active
17,BBD,Banco Bradesco S.A.,2.9950,0.025000,0.841746,most_active
18,NU,Nu Holdings Ltd.,12.2450,-0.515000,-4.036053,most_active
19,BA,The Boeing Company,203.0600,-10.940002,-5.112151,most_active
20,RIG,Transocean Ltd.,3.2001,0.000100,0.003117,most_active
21,GRAB,Grab Holdings Limited,4.5950,-0.125000,-2.648305,most_active
22,OKLO,Oklo Inc.,67.7180,-0.311996,-0.458616,most_active
23,HIMS,"Hims & Hers Health, Inc.",57.1600,-0.400002,-0.694930,most_active
24,RXRX,"Recursion Pharmaceuticals, Inc.",5.2490,-0.151000,-2.796297,most_active
0,ATUS,"Altice USA, Inc.",2.1550,-0.055000,-2.488691,trending
1,JBLU,JetBlue Airways Corporation,4.7850,-0.075000,-1.544805,trending
2,KOS,Kosmos Energy Ltd.,2.1100,-0.020000,-0.941187,trending
3,DOLE,Dole plc,14.0200,0.210000,1.520637,trending
4,AVIR,"Atea Pharmaceuticals, Inc.",3.2350,0.060000,1.889762,trending
5,LAC,Lithium Americas Corp.,2.6250,-0.135000,-4.891304,trending
6,SONO,"Sonos, Inc.",10.2150,0.135000,1.339288,trending
7,VMEO,"Vimeo, Inc.",4.3500,-0.090000,-2.027030,trending
8,GPRO,"GoPro, Inc.",0.8611,0.000800,0.092992,trending
9,PBI,Pitney Bowes Inc.,10.4150,-0.035000,-0.334927,trending
10,BFLY,"Butterfly Network, Inc.",2.4700,-0.050000,-1.984125,trending
11,USA,Liberty All-Star Equity Fund,6.7300,-0.020000,-0.296296,trending
12,PLYA,Playa Hotels & Resorts N.V.,13.4900,-0.010000,-0.074076,trending
13,ABCL,AbCellera Biologics Inc.,3.1850,-0.045000,-1.393191,trending
14,CHGG,"Chegg, Inc.",1.5000,-0.070000,-4.458602,trending
15,PGRE,"Paramount Group, Inc.",6.4750,0.025000,0.387598,trending
16,BMBL,Bumble Inc.,4.9500,-0.190000,-3.696499,trending
17,NOVA,Sunnova Energy International Inc.,0.2202,0.000000,0.000000,trending
18,BDN,Brandywine Realty Trust,4.5250,0.015000,0.332591,trending
19,DBRG,"DigitalBridge Group, Inc.",10.5850,-0.045000,-0.423331,trending
20,SHO,"Sunstone Hotel Investors, Inc.",8.8550,-0.045000,-0.505619,trending
21,YQ,17 Education & Technology Group Inc.,2.0500,0.000000,0.000000,trending
22,STEM,"Stem, Inc.",0.4963,-0.108000,-17.871920,trending
23,BKD,Brookdale Senior Living Inc.,7.0000,0.050000,0.719427,trending
24,CIM,Chimera Investment Corporation,14.0800,0.190000,1.367887,trending